@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    
}

header {
    width: 100%;
    height: 120px;
    background-color: #8a5dc9;
}
/*.header .main {

   
}
.navbar {

}

.navbar .brand {


}*/

.navbar .brand .logo {
    display: flex;
    height: 100px;
    margin-left: 80%;
    margin-top: -60px;
    /*background-color: aqua;*/
    
}

.menu ul {
    display: flex;
    margin: 0px 50px;
    /*background-color: blueviolet;*/
}

.menu ul li {
    list-style: none;
    margin-right: 50px;
    margin-top: 45px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    
    
}

.navbar .toggle-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: -60px;
    color: white;
}

.navbar .toggle-menu i{
    font-size: 1.8em;
    cursor: pointer;
}